In [1]:
import pyodbc

In [2]:
conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=LAPTOP-OELBU86R\SQLEXPRESS;'
                      'Database=CaptionImage;'
                      'Trusted_Connection=yes;')

In [3]:
cursor = conn.cursor()

In [4]:
id = "124"
name = "Linh"
old = 21

insert_records = '''INSERT INTO idnameold(id, name, old) VALUES(?,?,?)'''
cursor.execute(insert_records, id, name, old)
conn.commit()

In [5]:
record_1 = ["111", "Chinh", 21]
record_2 = ["211", "Chau", 22]

In [6]:
record_3 = ["113", "Tu", 23]
record_list =[]
record_list.append(record_1)
record_list.append(record_2)
record_list.append(record_3)
insert_records = '''INSERT INTO idnameold(id, name, old) VALUES(?,?,?)'''
cursor.executemany(insert_records, record_list)
conn.commit()

In [7]:
select_record = '''SELECT * FROM idnameold'''
cursor.execute(select_record)
     
for row in cursor:
    print(row)

('124       ', 'Linh      ', 21)
('111       ', 'Chinh     ', 21)
('211       ', 'Chau      ', 22)
('113       ', 'Tu        ', 23)

In [13]:
delete_all_records = '''truncate table idnameold'''
cursor.execute(delete_all_records)
conn.commit()

In [11]:
select_record = '''SELECT count(*) FROM idnameold WHERE old=? '''
cursor.execute(select_record,221)
rowcount = cursor.fetchone()[0]

print (rowcount)

0

In [ ]:
<form class="form-inline" enctype="multipart/form-data" action="/video" method="POST">
	        <label><b>Video: &nbsp;&nbsp; </b></label>
			<input accept="video/mp4,video/x-m4v,video/*" type="file" class="figure-img img-fluid rounded" name="video">
			<input type="text" name="keyword">
	        <button type="submit" class="btn btn-primary"> Submit</button>
		</form>