In [2]:
import pyodbc

In [3]:
conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=LAPTOP-OELBU86R\SQLEXPRESS;'
                      'Database=CaptionImage;'
                      'Trusted_Connection=yes;')

In [4]:
cursor = conn.cursor()

In [8]:
id = "124"
name = "Linh"
old = 21

insert_records = '''INSERT INTO idnameold(id, name, old) VALUES(?,?,?)'''
cursor.execute(insert_records, id, name, old)
conn.commit()

In [9]:
record_1 = ["111", "Chinh", 21]
record_2 = ["211", "Chau", 22]

In [11]:
record_3 = ["113", "Tu", 23]
record_list =[]
record_list.append(record_1)
record_list.append(record_2)
record_list.append(record_3)
insert_records = '''INSERT INTO idnameold(id, name, old) VALUES(?,?,?)'''
cursor.executemany(insert_records, record_list)
conn.commit()

In [12]:
select_record = '''SELECT * FROM idnameold'''
cursor.execute(select_record)
     
for row in cursor:
    print(row)

('124       ', 'Linh      ', 21)
('111       ', 'Chinh     ', 21)
('211       ', 'Chau      ', 22)
('113       ', 'Tu        ', 23)

In [13]:
delete_all_records = '''truncate table idnameold'''
cursor.execute(delete_all_records)
conn.commit()